# =========================
# MONGODB CONFIG
# =========================
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app>
DATABASE_NAME=freshsave

# =========================
# JWT AUTH
# =========================
JWT_SECRET_KEY=change-me-to-a-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# =========================
# APP SETTINGS
# =========================
VALIDATE_ON_STARTUP=True
DEBUG=True
