# MongoDB Atlas Connection String
# Get this from your Atlas Dashboard (Connect -> Drivers -> Python)
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/freshsave?retryWrites=true&w=majority

# App Settings
DATABASE_NAME=freshsave
VALIDATE_ON_STARTUP=True
